@import "tailwindcss";

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/integralcf-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("/fonts/integralcf-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("/fonts/integralcf-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family:
    "Inter CF",
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.font-satoshi {
  font-family:
    "Satoshi",
    system-ui,
    -apple-system,
    sans-serif;
}

.font-integral_cf {
  font-family:
    "Integral CF",
    system-ui,
    -apple-system,
    sans-serif;
}

@theme {
  --color-primary: #ffffff;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f2f0f1;
  --color-secondary-foreground: #f2f0f1;
  --color-accent: #f2f0f1;
  --color-accent-foreground: #f2f0f1;
  --color-bg-main: #ffffff;
  --color-bg-card: #f2f0f1;
  --color-text-primary: #000000;
  --color-text-secondary: #00000066;
  --color-header-background: #121212;
  --color-header-text: #ffffff;
  --color-header-search-bg: rgba(255, 255, 255, 0.1);
  --color-header-search-text: #ffffff;
  --color-header-search-placeholder: rgba(255, 255, 255, 0.5);
  --color-header-divider: rgba(255, 255, 255, 0.1);
}

.input {
  @apply w-full bg-gray-100 rounded-xl px-4 py-3 outline-none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
